@font-face {
  font-family: Secrets;
  src: url("../font/secrets-webfont.eot");
  src: url("../font/secrets-webfont.eot?#iefix") format("embedded-opentype"), url("../font/secrets-webfont.woff") format("woff"), url("../font/secrets-webfont.ttf") format("truetype"), url("../font/secrets-webfont.svg#webfont") format("svg");
}

@font-face {
  font-family: "Flaticon";
  src: url("../font/flaticon.eot");
  src: url("../font/flaticon.eot#iefix") format("embedded-opentype"), url("../font/flaticon.woff") format("woff"), url("../font/flaticon.ttf") format("truetype"), url("../font/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 13, ../sass/fonts.sass */
[class^="flaticon-"]:before, .normal[class^="flaticon-"]:before {
  font-family: Flaticon;
  font-size: 400%;
  font-style: normal;
  vertical-align: bottom;
}
@media print {
  /* line 13, ../sass/fonts.sass */
  [class^="flaticon-"]:before, .normal[class^="flaticon-"]:before {
    font-size: 100%;
  }
}

/* line 21, ../sass/fonts.sass */
.normal[class^="flaticon-"]:before {
  font-size: 75%;
}

/* line 25, ../sass/fonts.sass */
.flaticon-external2:before {
  content: "\e000";
}

/* line 28, ../sass/fonts.sass */
.flaticon-facebook7:before {
  content: "\e001";
}

/* line 31, ../sass/fonts.sass */
.flaticon-github7:before {
  content: "\e002";
}

/* line 34, ../sass/fonts.sass */
.flaticon-linkedin2:before {
  content: "\e003";
}

/* line 37, ../sass/fonts.sass */
.flaticon-social71:before {
  content: "\e004";
}

/* line 40, ../sass/fonts.sass */
.flaticon-social92:before {
  content: "\e005";
}
