/* line 17, ../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a,
a abbr,
span.projects, abbr, a abbr, span.projects abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img, span.projects img {
  border: none;
}

/* line 116, ../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Secrets;
  src: url("../font/secrets-webfont.eot");
  src: url("../font/secrets-webfont.eot?#iefix") format("embedded-opentype"), url("../font/secrets-webfont.woff") format("woff"), url("../font/secrets-webfont.ttf") format("truetype"), url("../font/secrets-webfont.svg#webfont") format("svg");
}

@font-face {
  font-family: "Flaticon";
  src: url("../font/flaticon.eot");
  src: url("../font/flaticon.eot#iefix") format("embedded-opentype"), url("../font/flaticon.woff") format("woff"), url("../font/flaticon.ttf") format("truetype"), url("../font/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 13, ../sass/fonts.sass */
[class^="flaticon-"]:before, .normal[class^="flaticon-"]:before {
  font-family: Flaticon;
  font-size: 400%;
  font-style: normal;
  vertical-align: bottom;
}
@media print {
  /* line 13, ../sass/fonts.sass */
  [class^="flaticon-"]:before, .normal[class^="flaticon-"]:before {
    font-size: 100%;
  }
}

/* line 21, ../sass/fonts.sass */
.normal[class^="flaticon-"]:before {
  font-size: 75%;
}

/* line 25, ../sass/fonts.sass */
.flaticon-external2:before {
  content: "\e000";
}

/* line 28, ../sass/fonts.sass */
.flaticon-facebook7:before {
  content: "\e001";
}

/* line 31, ../sass/fonts.sass */
.flaticon-github7:before {
  content: "\e002";
}

/* line 34, ../sass/fonts.sass */
.flaticon-linkedin2:before {
  content: "\e003";
}

/* line 37, ../sass/fonts.sass */
.flaticon-social71:before {
  content: "\e004";
}

/* line 40, ../sass/fonts.sass */
.flaticon-social92:before {
  content: "\e005";
}

/* line 41, ../sass/screen.sass */
body {
  font-family: Secrets;
  font-size: 2.5em;
  min-height: 740px;
  background-color: #eff0f9;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFEFF0F9', endColorstr='#FFADB2BC');
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(0%, #eff0f9), color-stop(40%, #d5d7e2), color-stop(100%, #adb2bc));
  background-image: -webkit-radial-gradient(center, ellipse cover, #eff0f9 0%, #d5d7e2 40%, #adb2bc 100%);
  background-image: -moz-radial-gradient(center, ellipse cover, #eff0f9 0%, #d5d7e2 40%, #adb2bc 100%);
  background-image: -o-radial-gradient(center, ellipse cover, #eff0f9 0%, #d5d7e2 40%, #adb2bc 100%);
  background-image: radial-gradient(center, ellipse cover, #eff0f9 0%, #d5d7e2 40%, #adb2bc 100%);
}
/* line 15, ../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/_print.scss */
body .print-only {
  display: none;
}
@media print {
  /* line 41, ../sass/screen.sass */
  body {
    background: inherit;
    font-family: sans-serif;
    font-size: 1em;
  }
  /* line 7, ../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/_print.scss */
  body .noprint, body .no-print {
    display: none;
  }
  /* line 9, ../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/_print.scss */
  body address.print-only, body article.print-only, body aside.print-only, body blockquote.print-only, body center.print-only, body dir.print-only, body div.print-only, body dd.print-only, body details.print-only, body dl.print-only, body dt.print-only, body fieldset.print-only, body figcaption.print-only, body figure.print-only, body form.print-only, body footer.print-only, body frameset.print-only, body h1.print-only, body h2.print-only, body h3.print-only, body h4.print-only, body h5.print-only, body h6.print-only, body hr.print-only, body header.print-only, body hgroup.print-only, body isindex.print-only, body menu.print-only, body nav.print-only, body noframes.print-only, body noscript.print-only, body ol.print-only, body p.print-only, body pre.print-only, body section.print-only, body summary.print-only, body ul.print-only {
    display: block;
  }
  /* line 12, ../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/_print.scss */
  body a.print-only, body a abbr.print-only, a body abbr.print-only, body span.print-only.projects, body abbr.print-only, body acronym.print-only, body audio.print-only, body b.print-only, body basefont.print-only, body bdo.print-only, body big.print-only, body br.print-only, body canvas.print-only, body cite.print-only, body code.print-only, body command.print-only, body datalist.print-only, body dfn.print-only, body em.print-only, body embed.print-only, body font.print-only, body i.print-only, body img.print-only, body input.print-only, body keygen.print-only, body kbd.print-only, body label.print-only, body mark.print-only, body meter.print-only, body output.print-only, body progress.print-only, body q.print-only, body rp.print-only, body rt.print-only, body ruby.print-only, body s.print-only, body samp.print-only, body select.print-only, body small.print-only, body span.print-only, body strike.print-only, body strong.print-only, body sub.print-only, body sup.print-only, body textarea.print-only, body time.print-only, body tt.print-only, body u.print-only, body var.print-only, body video.print-only, body wbr.print-only {
    display: inline;
  }
}

/* line 56, ../sass/screen.sass */
abbr, a abbr, span.projects abbr {
  border-bottom: 1px dotted #222222;
  color: #222222;
  cursor: help;
}
@media print {
  /* line 56, ../sass/screen.sass */
  abbr, a abbr, span.projects abbr {
    border-bottom: inherit;
    color: inherit;
  }
}

/* line 64, ../sass/screen.sass */
ul {
  list-style: disc;
  padding-left: 1em;
}

/* line 68, ../sass/screen.sass */
a, a abbr, span.projects {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  text-shadow: -1px -1px 1px rgba(100, 100, 100, 0.7);
  color: rgba(59, 82, 141, 0.84);
  text-decoration: none;
}
/* line 24, ../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover, a abbr:hover, span.projects:hover {
  color: rgba(0, 0, 145, 0.75);
}
/* line 27, ../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active, a abbr:active, span.projects:active {
  color: rgba(0, 0, 145, 0.75);
}
@media print {
  /* line 68, ../sass/screen.sass */
  a, a abbr, span.projects {
    text-shadow: inherit;
  }
}

/* line 79, ../sass/screen.sass */
div.bio > * > *:first-child {
  font-weight: bold;
}

/* line 82, ../sass/screen.sass */
.step, .step-print {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 900px;
  padding: 40px;
  margin: 20px auto;
}

/* line 92, ../sass/screen.sass */
.impress-enabled .step, .impress-enabled .step-print {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  margin: 0;
}
/* line 97, ../sass/screen.sass */
.impress-enabled .step.active, .impress-enabled .active.step-print {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
@media print {
  /* line 92, ../sass/screen.sass */
  .impress-enabled .step, .impress-enabled .step-print {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
}

/* line 102, ../sass/screen.sass */
.impress-on-overview .step, .impress-on-overview .step-print {
  opacity: 1;
  cursor: pointer;
}

/* .impress-enabled */
/*   pointer-events: none */
/*   #impress */
/*     pointer-events: auto */
/* line 111, ../sass/screen.sass */
.slide {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  /* +text-shadow(0 2px 2px rgba(0, 0, 0, 0.1)) */
  /* +text-shadow(0 1px 15px rgba(60, 40, 40, 0.4)) */
  text-shadow: 0 1px 5px rgba(60, 40, 40, 0.3);
  line-height: 1em;
  display: block;
  height: 700px;
  padding: 40px 60px;
  background-color: #effafc;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #666666;
}
@media print {
  /* line 111, ../sass/screen.sass */
  .slide {
    -webkit-box-shadow: inherit;
    -moz-box-shadow: inherit;
    box-shadow: inherit;
    height: 250px;
    background: inherit;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border: 0;
    padding: 10px 40px;
    border-bottom: 1px solid black;
  }
}

/* line 133, ../sass/screen.sass */
span.skill {
  border-radius: 100px;
  font-size: 60%;
  padding: 2px 4px;
  color: white;
  text-shadow: none;
}
/* line 139, ../sass/screen.sass */
span.skill.familiar {
  background-color: rgba(190, 190, 190, 0.6);
}
/* line 141, ../sass/screen.sass */
span.skill.proficient {
  background-color: rgba(150, 150, 150, 0.75);
}
/* line 143, ../sass/screen.sass */
span.skill.expert {
  background-color: #525252;
}
@media print {
  /* line 133, ../sass/screen.sass */
  span.skill {
    color: inherit;
    font-size: 70%;
  }
  /* line 148, ../sass/screen.sass */
  span.skill.familiar {
    opacity: 0.6;
    background-color: inherit;
  }
  /* line 151, ../sass/screen.sass */
  span.skill.proficient {
    opacity: 0.8;
    background-color: inherit;
  }
  /* line 154, ../sass/screen.sass */
  span.skill.expert {
    opacity: 1;
    background-color: inherit;
  }
}

/* line 158, ../sass/screen.sass */
span.date {
  font-size: 60%;
  background-color: rgba(98, 82, 131, 0.5);
  border-radius: 100px;
  padding: 2px 4px;
  color: white;
}
@media print {
  /* line 158, ../sass/screen.sass */
  span.date {
    color: inherit;
    background-color: inherit;
    font-size: 70%;
  }
}

/* line 169, ../sass/screen.sass */
span.projects {
  font-size: 75%;
}

@media print {
  /* line 173, ../sass/screen.sass */
  div#impress {
    position: inherit !important;
    -webkit-transition: inherit !important;
    transition: inherit !important;
    -webkit-transform-origin: inherit !important;
    transform-origin: inherit !important;
    -webkit-transform-style: inherit !important;
    transform-style: inherit !important;
    -webkit-transform: inherit !important;
    transform: inherit !important;
    left: inherit !important;
    top: inherit !important;
  }
  /* line 176, ../sass/screen.sass */
  div#impress > div {
    position: inherit !important;
    -webkit-transition: inherit !important;
    transition: inherit !important;
    -webkit-transform-origin: inherit !important;
    transform-origin: inherit !important;
    -webkit-transform-style: inherit !important;
    transform-style: inherit !important;
    -webkit-transform: inherit !important;
    transform: inherit !important;
    left: inherit !important;
    top: inherit !important;
  }
  /* line 178, ../sass/screen.sass */
  div#impress > div div {
    position: inherit !important;
    -webkit-transition: inherit !important;
    transition: inherit !important;
    -webkit-transform-origin: inherit !important;
    transform-origin: inherit !important;
    -webkit-transform-style: inherit !important;
    transform-style: inherit !important;
    -webkit-transform: inherit !important;
    transform: inherit !important;
    left: inherit !important;
    top: inherit !important;
  }
}

@supports (flex-wrap: wrap) {
  /* line 182, ../sass/screen.sass */
  #profile {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  @media print {
    /* line 182, ../sass/screen.sass */
    #profile {
      display: inherit;
    }
}
}
/* line 184, ../sass/screen.sass */
#profile div.bio {
  -webkit-box-flex: 1 0 auto;
  -moz-box-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
@supports (flex-wrap: wrap) {
  /* line 184, ../sass/screen.sass */
  #profile div.bio {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  @media print {
    /* line 184, ../sass/screen.sass */
    #profile div.bio {
      display: inherit;
    }
}
}
/* line 187, ../sass/screen.sass */
#profile div.bio p, #profile div.bio div {
  -webkit-box-flex: 1 0 auto;
  -moz-box-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
/* line 189, ../sass/screen.sass */
#profile div.bio div.education {
  line-height: 110%;
}
/* line 191, ../sass/screen.sass */
#profile div.social {
  font-size: 80%;
  -webkit-box-flex: 1 0 auto;
  -moz-box-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
@supports (flex-wrap: wrap) {
  /* line 191, ../sass/screen.sass */
  #profile div.social {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  @media print {
    /* line 191, ../sass/screen.sass */
    #profile div.social {
      display: inherit;
    }
}
}
/* line 195, ../sass/screen.sass */
#profile div.social > div {
  margin: auto;
  display: inline-block;
}
@media print {
  /* line 195, ../sass/screen.sass */
  #profile div.social > div {
    display: block;
  }
}

/* line 201, ../sass/screen.sass */
#general ul {
  height: 100%;
}
@supports (flex-wrap: wrap) {
  /* line 201, ../sass/screen.sass */
  #general ul {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  @media print {
    /* line 201, ../sass/screen.sass */
    #general ul {
      display: inherit;
    }
}
}
/* line 204, ../sass/screen.sass */
#general ul li {
  -webkit-box-flex: 1 0 auto;
  -moz-box-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

/* line 207, ../sass/screen.sass */
#web > ul {
  height: 100%;
}
@supports (flex-wrap: wrap) {
  /* line 207, ../sass/screen.sass */
  #web > ul {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  @media print {
    /* line 207, ../sass/screen.sass */
    #web > ul {
      display: inherit;
    }
}
}
/* line 210, ../sass/screen.sass */
#web > ul > li {
  -webkit-box-flex: 1 0 auto;
  -moz-box-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

/* line 213, ../sass/screen.sass */
#intersted div, #python div, #php div, #html div {
  height: 100%;
  line-height: 120%;
}
@supports (flex-wrap: wrap) {
  /* line 213, ../sass/screen.sass */
  #intersted div, #python div, #php div, #html div {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  @media print {
    /* line 213, ../sass/screen.sass */
    #intersted div, #python div, #php div, #html div {
      display: inherit;
    }
}
}
/* line 217, ../sass/screen.sass */
#intersted div p, #python div p, #php div p, #html div p {
  font-weight: bold;
  -webkit-box-flex: 1 0 auto;
  -moz-box-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
/* line 220, ../sass/screen.sass */
#intersted div ul, #python div ul, #php div ul, #html div ul {
  -webkit-box-flex: 1 0 80%;
  -moz-box-flex: 1 0 80%;
  -webkit-flex: 1 0 80%;
  -ms-flex: 1 0 80%;
  flex: 1 0 80%;
}
@supports (flex-wrap: wrap) {
  /* line 220, ../sass/screen.sass */
  #intersted div ul, #python div ul, #php div ul, #html div ul {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  @media print {
    /* line 220, ../sass/screen.sass */
    #intersted div ul, #python div ul, #php div ul, #html div ul {
      display: inherit;
    }
}
}
/* line 223, ../sass/screen.sass */
#intersted div ul li, #python div ul li, #php div ul li, #html div ul li {
  -webkit-box-flex: 1 0 auto;
  -moz-box-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

/* line 226, ../sass/screen.sass */
div#extras {
  -webkit-transition-property: bottom;
  -moz-transition-property: bottom;
  -o-transition-property: bottom;
  transition-property: bottom;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  position: fixed;
  bottom: -10%;
  font-size: 50%;
  left: 20%;
  right: 20%;
}
@supports (flex-wrap: wrap) {
  /* line 226, ../sass/screen.sass */
  div#extras {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  @media print {
    /* line 226, ../sass/screen.sass */
    div#extras {
      display: inherit;
    }
}
}
/* line 235, ../sass/screen.sass */
div#extras div {
  -webkit-box-flex: 1 0 auto;
  -moz-box-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: inline;
  width: 30%;
  text-align: center;
  border-radius: 100px;
  padding: 2px 5px;
}
/* line 242, ../sass/screen.sass */
div#extras div a, div#extras div a abbr, a div#extras div abbr, div#extras div span.projects {
  text-shadow: inherit;
}
@media print {
  /* line 226, ../sass/screen.sass */
  div#extras {
    display: none;
  }
}

/* line 247, ../sass/screen.sass */
#modal ul {
  font-size: 70%;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 25px 5px #999999;
  color: #111111;
  padding: 1em 1.5em;
  width: 60%;
  line-height: 120%;
}

/* line 257, ../sass/screen.sass */
.button {
  background-color: #2b91af;
  border-radius: 10px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: none;
}
/* line 268, ../sass/screen.sass */
.button.small {
  border-radius: 15px;
  float: right;
  margin: 22px 5px 0;
  padding: 6px 15px;
}
/* line 273, ../sass/screen.sass */
.button:hover {
  background-color: #1e1e1e;
}
/* line 275, ../sass/screen.sass */
.button > span {
  font-size: 84%;
}
/* line 277, ../sass/screen.sass */
.button.b-close, .button.bClose {
  border-radius: 7px 7px 7px 7px;
  box-shadow: none;
  font: bold 131% sans-serif;
  padding: 0 6px 2px;
  position: absolute;
  right: -7px;
  top: -7px;
}

/* line 287, ../sass/screen.sass */
#overview {
  display: none;
}

/* line 291, ../sass/screen.sass */
.fallback-message {
  font-family: sans-serif;
  font-size: 70%;
  line-height: 1.3;
  width: 780px;
  padding: 10px 10px 0;
  margin: 20px auto;
  border: 1px solid #e4c652;
  border-radius: 10px;
  background: #eedc94;
}
/* line 301, ../sass/screen.sass */
.fallback-message p {
  margin-bottom: 10px;
}

/* line 304, ../sass/screen.sass */
.impress-supported .fallback-message {
  display: none;
}

/* line 307, ../sass/screen.sass */
.hint {
  -webkit-transform: translateY(400px);
  -moz-transform: translateY(400px);
  -ms-transform: translateY(400px);
  -o-transform: translateY(400px);
  transform: translateY(400px);
  -webkit-transition: opacity 1s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0s, 1s;
  -moz-transition: opacity 1s, -moz-transform 0.5s 1s;
  -o-transition: opacity 1s, -o-transform 0.5s 1s;
  transition: opacity 1s, transform 0.5s 1s;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 200px;
  background: rgba(0, 0, 0, 0.5);
  color: #eeeeee;
  text-align: center;
  font-size: 50px;
  padding: 20px;
  z-index: 100;
  opacity: 0;
}

/* line 323, ../sass/screen.sass */
.impress-enabled .hint {
  display: block;
}
@media print {
  /* line 323, ../sass/screen.sass */
  .impress-enabled .hint {
    display: none;
  }
}

/* line 328, ../sass/screen.sass */
.impress-on-profile .hint {
  -webkit-transform: translateY(190px);
  -moz-transform: translateY(190px);
  -ms-transform: translateY(190px);
  -o-transform: translateY(190px);
  transform: translateY(190px);
  -webkit-transition: opacity 0.1s, -webkit-transform 1s;
  -webkit-transition-delay: 0.5s, 2s;
  -moz-transition: opacity 0.1s 0.5s, -moz-transform 1s 2s;
  -o-transition: opacity 0.1s 0.5s, -o-transform 1s 2s;
  transition: opacity 0.1s 0.5s, transform 1s 2s;
  opacity: 1;
}

/* line 334, ../sass/screen.sass */
.firefox-fix {
  position: absolute;
  bottom: 15%;
}
