@font-face
  font-family: Secrets
  src: url('../font/secrets-webfont.eot')
  src: url('../font/secrets-webfont.eot?#iefix') format('embedded-opentype'), url('../font/secrets-webfont.woff') format('woff'), url('../font/secrets-webfont.ttf') format('truetype'), url('../font/secrets-webfont.svg#webfont') format('svg')

@font-face
  font-family: "Flaticon"
  src: url("../font/flaticon.eot")
  src: url("../font/flaticon.eot#iefix") format("embedded-opentype"), url("../font/flaticon.woff") format("woff"), url("../font/flaticon.ttf") format("truetype"), url("../font/flaticon.svg") format("svg")
  font-weight: normal
  font-style: normal

[class^="flaticon-"]:before
  font-family: Flaticon
  font-size: 400%
  font-style: normal
  vertical-align: bottom
  @media print
    font-size: 100%

.normal[class^="flaticon-"]:before
  @extend [class^="flaticon-"]:before
  font-size: 75%

.flaticon-external2:before
  content: "\e000"

.flaticon-facebook7:before
  content: "\e001"

.flaticon-github7:before
  content: "\e002"

.flaticon-linkedin2:before
  content: "\e003"

.flaticon-social71:before
  content: "\e004"

.flaticon-social92:before
  content: "\e005"
