@import compass/reset
@import fonts
@import compass/css3
@import compass/typography
@import compass/utilities/print

@mixin flexbox($orient)
  @supports (flex-wrap: wrap)
    flex-wrap: wrap
    justify-content: center
    flex-direction: $orient
    display: -webkit-box
    display: -moz-box
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
    @media print
      display: inherit


@mixin flex($values)
  -webkit-box-flex: $values
  -moz-box-flex:  $values
  -webkit-flex:  $values
  -ms-flex:  $values
  flex:  $values

@mixin restimpress()
  position: inherit !important
  -webkit-transition: inherit !important
  transition: inherit !important
  -webkit-transform-origin: inherit !important
  transform-origin: inherit !important
  -webkit-transform-style: inherit !important
  transform-style: inherit !important
  -webkit-transform: inherit !important
  transform: inherit !important
  left: inherit !important
  top: inherit !important

body
  +print-utilities(screen)
  font-family: Secrets
  font-size: 2.5em
  min-height: 740px
  background-color: rgb(239,240,249)
  +filter-gradient(#eff0f9, #adb2bc, horizontal)
  +background-image(radial-gradient(center, ellipse cover, rgb(239,240,249) 0%,rgb(213,215,226) 40%,rgb(173,178,188) 100%))
  @media print
    +print-utilities
    background: inherit
    font-family: sans-serif
    font-size: 1em


abbr
  border-bottom: 1px dotted #222
  color: #222
  cursor: help
  @media print
    border-bottom: inherit
    color: inherit

ul
  list-style: disc
  padding-left: 1em

a
  +transition-duration(0.5s)
  +text-shadow(-1px -1px 1px rgba(100, 100, 100, 0.7))
  +link-colors(rgba(59, 82, 141, 0.84), rgba(0, 0, 145, 0.75), rgba(0, 0, 145, 0.75))
  text-decoration: none
  abbr
    @extend a
    @extend abbr
  @media print
    +text-shadow(inherit)

div.bio>*>*:first-child
  font-weight: bold

.step
  +box-sizing(border-box)
  position: relative
  width: 900px
  padding: 40px
  margin: 20px auto

.step-print
  @extend .step

.impress-enabled .step
  +transition-property(opacity)
  +transition-duration(1s)
  +opacity(0.3)
  margin: 0
  &.active
    +opacity(1)
  @media print
    +opacity(1)

.impress-on-overview .step
  opacity: 1
  cursor: pointer

/* .impress-enabled
/*   pointer-events: none
/*   #impress
/*     pointer-events: auto

.slide
  +border-radius(10px)
  +box-shadow(0px 5px 20px rgba(0, 0, 0, 0.3))
  /* +text-shadow(0 2px 2px rgba(0, 0, 0, 0.1))
  /* +text-shadow(0 1px 15px rgba(60, 40, 40, 0.4))
  +text-shadow(0 1px 5px rgba(60, 40, 40, 0.3))
  line-height: 1em
  display: block
  height: 700px
  padding: 40px 60px
  background-color: rgb(239, 250, 252)
  border: 1px solid rgba(0, 0, 0, 0.3)
  color: rgb(102, 102, 102)
  @media print
    +box-shadow(inherit)
    height: 250px
    background: inherit
    +border-radius(0)
    border: 0
    padding: 10px 40px
    border-bottom: 1px solid rgba(0, 0, 0, 1)

span.skill
  border-radius: 100px
  font-size: 60%
  padding: 2px 4px
  color: white
  text-shadow: none
  &.familiar
    background-color: rgba(190, 190, 190, 0.6)
  &.proficient
    background-color: rgba(150, 150, 150, 0.75)
  &.expert
    background-color: rgba(82, 82, 82, 1)
  @media print
    color: inherit
    font-size: 70%
    &.familiar
      opacity: 0.6
      background-color: inherit
    &.proficient
      opacity: 0.8
      background-color: inherit
    &.expert
      opacity: 1
      background-color: inherit

span.date
  font-size: 60%
  background-color: rgba(98, 82, 131, 0.5)
  border-radius: 100px
  padding: 2px 4px
  color: white
  @media print
    color: inherit
    background-color: inherit
    font-size: 70%

span.projects
  @extend a
  font-size: 75%

div#impress
  @media print
    +restimpress
    >div
      +restimpress
      div
        +restimpress


#profile
  +flexbox(column)
  div.bio
    +flexbox(column)
    +flex(1 0 auto)
    p, div
      +flex(1 0 auto)
    div.education
      line-height: 110%
  div.social
    font-size: 80%
    +flexbox(row)
    +flex(1 0 auto)
    > div
      margin: auto
      display: inline-block
      @media print
        display: block

#general ul
  height: 100%
  +flexbox(column)
  li
    +flex(1 0 auto)

#web>ul
  height: 100%
  +flexbox(column)
  >li
    +flex(1 0 auto)

#intersted div, #python div, #php div, #html div
  height: 100%
  line-height: 120%
  +flexbox(column)
  p
    font-weight: bold
    +flex(1 0 auto)
  ul
    +flex(1 0 80%)
    +flexbox(column)
    li
      +flex(1 0 auto)

div#extras
  +transition-property(bottom)
  +transition-duration(1s)
  +flexbox(row)
  position: fixed
  bottom: -10%
  font-size: 50%
  left: 20%
  right: 20%
  div
    +flex(1 0 auto)
    display: inline
    width: 30%
    text-align: center
    border-radius: 100px
    padding: 2px 5px
    a
      +text-shadow(inherit)
  @media print
    display: none

#modal ul
  font-size: 70%
  background-color: #fff
  border-radius: 10px 10px 10px 10px
  box-shadow: 0 0 25px 5px #999
  color: #111
  padding: 1em 1.5em
  width: 60%
  line-height: 120%

.button
  background-color: #2b91af
  border-radius: 10px
  box-shadow: 0 2px 3px rgba(0,0,0,0.3)
  color: #fff
  cursor: pointer
  display: inline-block
  padding: 10px 20px
  text-align: center
  text-decoration: none
  display: none
  &.small
    border-radius: 15px
    float: right
    margin: 22px 5px 0
    padding: 6px 15px
  &:hover
    background-color: #1e1e1e
  >span
    font-size: 84%
  &.b-close, &.bClose
    border-radius: 7px 7px 7px 7px
    box-shadow: none
    font: bold 131% sans-serif
    padding: 0 6px 2px
    position: absolute
    right: -7px
    top: -7px


#overview
  display: none


.fallback-message
  font-family: sans-serif
  font-size: 70%
  line-height: 1.3
  width: 780px
  padding: 10px 10px 0
  margin: 20px auto
  border: 1px solid #E4C652
  border-radius: 10px
  background: #EEDC94
  p
    margin-bottom: 10px

.impress-supported .fallback-message
  display: none

.hint
  +transform(translateY(400px))
  +transition(opacity 1s, transform 0.5s 1s)
  display: none
  position: fixed
  left: 0
  right: 0
  bottom: 200px
  background: rgba(0, 0, 0, 0.5)
  color: #EEE
  text-align: center
  font-size: 50px
  padding: 20px
  z-index: 100
  opacity: 0

.impress-enabled .hint
  display: block
  @media print
    display: none

.impress-on-profile .hint
  +transform(translateY(190px))
  +transition(opacity 0.1s 0.5s, transform 1s 2s)
  opacity: 1


.firefox-fix
  position: absolute
  bottom: 15%
